codepro.akshatg.codes {
    # Route all requests to the Next.js frontend (which now also handles all APIs)
    reverse_proxy codepro_web:3000
}

# Uncomment this section when you are ready to deploy your portfolio
# akshatg.codes {
#    reverse_proxy portfolio_web:3000 
# }
